body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Configuracion para nuestro div principal */
.mainpart{
    text-align: center;
    height: 750px;
    /* background-color: red; */ 
    position: relative;

    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.esto{
    text-align: center;
    align-items: center;
}